<app-section-title title="{{ 'about-me.title' | translate }}"></app-section-title>

<section id="about-me">
    <div id="short-description">
        <div id="short-description-title">
            <h1>{{ 'about-me.hello' | translate }}</h1>
            <h2>{{ 'about-me.there' | translate }}</h2>
        </div>
        <p>{{ 'about-me.short-introduction' | translate }}</p>
    </div>
    
    <div id="personal-data">
        <h3>{{ 'about-me.personal-data.title' | translate }}</h3>
        <table>
            <tr>
                <td>{{ 'about-me.personal-data.fullname' | translate }}</td>
                <td>Ioan Mihai GEORGEVICI</td>
            </tr>
            <tr>
                <td>{{ 'about-me.personal-data.date-of-birth' | translate }}</td>
                <td>03 {{ 'about-me.personal-data.january' | translate }} 1994</td>
            </tr>
            <tr>
                <td>{{ 'about-me.personal-data.birth-place' | translate }}</td>
                <td>Timisoara, Romania</td>
            </tr>
            <tr>
                <td>{{ 'about-me.personal-data.where-i-live' | translate }}</td>
                <td>Timisoara, Romania</td>
            </tr>
            <tr>
                <td>{{ 'about-me.personal-data.nationality' | translate }}</td>
                <td>{{ 'about-me.personal-data.romanian' | translate }}</td>
            </tr>
            <tr>
                <td>{{ 'about-me.personal-data.driving-licence' | translate }}</td>
                <td>{{ 'about-me.personal-data.yes' | translate }}</td>
            </tr>
            <tr>
                <td>{{ 'about-me.personal-data.marital-status' | translate }}</td>
                <td>{{ 'about-me.personal-data.single' | translate }}</td>
            </tr>
        </table>
    </div>
</section>
