<app-section-title title="About me"></app-section-title>

<section id="about-me">
    <div id="short-description">
        <div id="short-description-title">
            <h1>Hello</h1>
            <h2>There!</h2>
        </div>
        <p>
            I am a young and passionate full-stack web developer. 
            I started learning programming in high school and since 
            then it has been my number one passion. I also have an 
            inclination towards UI/UX design, which balances my analytical side. 
            What I enjoy the most is building a software product from scratch, 
            making its architecture, thinking over the important elements, 
            taking decisions and carefully crafting it until it becomes a masterpiece.
        </p>
    </div>
    
    <div id="personal-data">
        <h3>Personal data</h3>
        <table>
            <tr>
                <td>Fullname</td>
                <td>Ioan Mihai GEORGEVICI</td>
            </tr>
            <tr>
                <td>Date of birth</td>
                <td>03 January 1994</td>
            </tr>
            <tr>
                <td>Birth place</td>
                <td>Timisoara, Romania</td>
            </tr>
            <tr>
                <td>Where I live</td>
                <td>Timisoara, Romania</td>
            </tr>
            <tr>
                <td>Nationality</td>
                <td>Romanian</td>
            </tr>
            <tr>
                <td>Driving licence</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Marital status</td>
                <td>Single</td>
            </tr>
        </table>
    </div>
</section>
