@import "variables";

#footer-inner {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

#footer-inner * {
    color: @font-color-light;
}

#footer-inner > div {
    flex: 1;
    margin: 5px;
}

#footer-inner .copyright {
    text-align: center;
    color: @font-color-light;
}

#footer-inner .copyright > span:first-child {
    white-space: nowrap;
}

#footer-inner .change-language {
    text-align: right;
}

#footer-inner .change-language button {
    background-color: @color-primary-darker;
    border: 1px solid @color-primary-darker-2x;
    padding: 5px 10px;
    cursor: pointer;
}

#footer-inner .change-language button:hover {
    background-color: @color-primary-darker-2x;
}

#footer-inner .change-language button:disabled {
    background-color: darken(@color-primary-darker, 7%);
    color: darken(@font-color-light, 7%);
}
