<div id="footer-inner">
    <div class="ghost"></div>
    <div class="copyright">
        <span>
            Copyright &copy; {{ getCurrentYear() }} ArteneR.
        </span>
        <span>
            {{ 'footer.all-rights-reserved' | translate }}.
        </span>
    </div>
    <div class="change-language">
        <button (click)="setTranslationLanguage('en')" [disabled]="translate.currentLang === 'en'">EN</button>
        <button (click)="setTranslationLanguage('ro')" [disabled]="translate.currentLang === 'ro'">RO</button>
    </div>
</div>
