@import "variables";

#footer-inner {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;

    & * {
        color: @font-color-light;
    }

    & > div {
        flex: 1;
        margin: 5px;
    }

    .copyright {
        text-align: center;
        color: @font-color-light;

        span {
            white-space: nowrap;
        }

        & > span:first-child {
            white-space: nowrap;
        }
    }

    .change-language {
        text-align: right;

        button {
            background-color: @color-primary-darker;
            border: 1px solid darken(@color-primary-darker, 5%);
            padding: 5px 10px;
            cursor: pointer;
            min-width: 40px;
            vertical-align: middle;

            &:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            &:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            &:hover {
                background-color: @color-primary-darker-2x;
            }

            &:disabled {
                background-color: darken(@color-primary-darker, 7%);
                color: darken(@font-color-light, 7%);
            }
        }
    }
}