<div class="project-container">
    <div class="project-inner">
        <div class="project-description-mobile-only">
            <a href="{{ project.projectLink }}" target="_blank">{{ project.title }}</a>
            <p>{{ project.description }}</p>
            <h3>Technologies/Tools used:</h3>
            <div class="project-technologies-tools-used">
                <app-technology *ngFor="let technologyImage of project.technologiesUsed" [image]="technologyImage"></app-technology>
            </div>
        </div>

        <div class="project-photo" [class.stick-to-left]="project.descriptionOnLeftSide">
            <img src="{{ project. mainImage }}">
            <div class="project-photo-title">{{ project.title }}</div>
            <div class="project-photo-year">{{ project.year }}</div>
        </div>

        <div class="project-info">
            <div class="project-description">
                <a href="{{ project.projectLink }}" target="_blank">{{ project.title }}</a>
                <p>{{ project.description }}</p>
                <h3>Technologies/Tools used:</h3>
                <div class="project-technologies-tools-used">
                    <app-technology *ngFor="let technologyImage of project.technologiesUsed" [image]="technologyImage"></app-technology>
                </div>
            </div>

            <div class="project-other-photos">
                <div>
                    <img src="{{ project.projectOtherPhotos[0] }}">
                </div>
                <div>
                    <img src="{{ project.projectOtherPhotos[1] }}">
                </div>
                <div>
                    <img src="{{ project.projectOtherPhotos[2] }}">
                </div>
            </div>
        </div>
    </div>
</div>