@import "variables";

@media all and (max-width: @screen-size-mobile-max) {
    .edu-and-career-item-container {
        position: relative;
    }
    
    .edu-and-career-item-period {
        position: absolute;
        top: -70px;
        left: 20px;
        z-index: 9000;
    }
    
    .edu-and-career-item-period * {
       font-size: @font-size-larger;
    }
    
    .edu-and-career-item-period-start span,
    .edu-and-career-item-period-end span {
        top: 22px;
        right: -20px;
    }
    
    .edu-and-career-item-timeline {
        width: 20px;
    }
    
    .edu-and-career-item-timeline-line {
    }
    
    .edu-and-career-item-data {
        margin-left: 35px;
    }

    .edu-and-career-item-data-top-right {
        display: none;
    }
    
    .edu-and-career-item-data {
        margin-bottom: 70px;
    }
}