<div class="edu-and-career-item-container">
    <div class="edu-and-career-item-period">
        <div class="edu-and-career-item-period-start">
            {{ eduAndCareerItem.period.start.year }}
            <span *ngIf="eduAndCareerItem.period.start.month && (eduAndCareerItem.period.start.month).length > 0">{{ eduAndCareerItem.period.start.month }}</span>
        </div>
        <i class="fa fa-long-arrow-right"></i> 
        <div class="edu-and-career-item-period-end">
            {{ eduAndCareerItem.period.end.year }}
            <span *ngIf="eduAndCareerItem.period.end.month && (eduAndCareerItem.period.end.month).length > 0">{{ eduAndCareerItem.period.end.month }}</span>
        </div>
    </div>
    
    <div class="edu-and-career-item-timeline">
        <div class="edu-and-career-item-timeline-line">
        </div>
        <div class="edu-and-career-item-timeline-dot">
            <div class="edu-and-career-item-timeline-dot-inner" [ngClass]="{'edu-and-career-item-timeline-dot-inner-active': (eduAndCareerItem.period.end.year == 'Present')}">
            </div>
        </div>
    </div>
    
    <div class="edu-and-career-item-data">
        <div class="edu-and-career-item-data-tip">
        </div>
        <div class="edu-and-career-item-data-top">
            <div class="edu-and-career-item-data-top-left">
                <h3>{{ 'education-and-career.' + eduAndCareerItem.id + '.title' | translate }}</h3>
                <hr>
                <p [innerHTML]="'education-and-career.' + eduAndCareerItem.id + '.description' | translate"></p>
            </div>
            <div class="edu-and-career-item-data-top-right">
                <img src="assets/images/edu-and-career/{{ eduAndCareerItem.image }}" alt="Education / Career pictogram">
            </div>
        </div>
        <div class="edu-and-career-item-data-bottom">
            <i class="fa fa-globe"></i>
            <a [href]="eduAndCareerItem.contact.email" target="_blank">{{ eduAndCareerItem.contact.email }}</a>
        </div>
    </div>
</div>
