<div class="skill-container">
    <div class="skill-badge">
        <circle-progress class="__desktop-only" [percent]="knowledge_perc" [radius]="90" [outerStrokeWidth]="10" [innerStrokeWidth]="10" [space]="-10"></circle-progress>
        <circle-progress class="__mobile-only"  [percent]="knowledge_perc" [radius]="60" [outerStrokeWidth]="7" [innerStrokeWidth]="7" [space]="-7"></circle-progress>
        <div class="skill-badge-inner">
            <img src="assets/images/skills-icons/{{ image }}" alt="Skill pictogram">
        </div>
    </div>
    <div class="skill-knowledge">
        {{ knowledge_perc }} %
    </div>
    <div class="skill-title">
        {{ title }}
    </div>
</div>