@import "variables";
@import "font-awesome/css/font-awesome.css";

* {
    font-family: @font-family-primary-regular;
    font-size: @font-size-normal;
    color: @font-color-dark;
}

body {
    background-color: @color-primary-darker;
}

.art-button {
    background-color: @color-primary-darker-2x;
    padding: 8px 30px;
    color: @font-color-light;
    border-width: 0px;
    cursor: pointer;
    border-radius: 10px;
    animation-name: animation-button-on-hover-exit-1;
    animation-duration: 0.5s;
}

.art-button:hover {
    background-color: @color-primary-darker;
    animation-name: animation-button-on-hover-1;
    animation-duration: 0.5s;
}



/* Image Fullscreen View overrides */

.ng-image-fullscreen-view {
    z-index: 9100 !important;
    overflow-x: hidden;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.ng-image-fullscreen-view .prev,
.ng-image-fullscreen-view .next,
.ng-image-fullscreen-view .close {
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: #FFFFFF !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px !important;
    height: 50px !important;
}

.ng-image-fullscreen-view .close {
    background-image: none !important;
}

.ng-image-fullscreen-view .close::before {
    content: "X";
    font-size: 18px;
}

.ng-image-fullscreen-view .prev:hover,
.ng-image-fullscreen-view .next:hover,
.ng-image-fullscreen-view .close:hover {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

/* end Image Fullscreen View overrides */



/* Mobile & Desktop show/hide */
.__mobile-only {
    display: initial;
}

.__desktop-only {
    display: initial;
}



/* Mobile */
@media all and (max-width: @screen-size-mobile-max) {
    .__desktop-only {
        display: none !important;
    }

    .page-content {
        margin: 0 15px;
    }
}


/* Desktop */
@media all and (min-width: @screen-size-mobile-max) {
    .__mobile-only {
        display: none !important;
    }
}