@import "variables";

#main-inner {
    position: relative;
    z-index: 10;
    width: @page-width;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    min-height: 800px;
}