@import "variables";

#top-banner {
    /*background-color: darkkhaki;*/
    background-color: @color-page-background;
    margin-bottom: 60px;
}

#banner-tag {
    padding: 10px 50px 20px 50px;
}

#banner-tag img {
    width: 200px;
}

#banner-image img {
    width: 100%;
    height: 315px;
    object-fit: cover;
}

#under-construction-banner {
    height: 26px;
    background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 20px,
        #F8E718 20px,
        #F8E718 40px
    ),
    linear-gradient(
        to bottom, 
        #212220, 
        #212220
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

#under-construction-banner span {
    background-color: #EBDA0B;
    background-color: #FFF425;
    font-size: @font-size-large;
    font-weight: bold;
    padding: 0px 30px;
    border-radius: 3px;
}

#banner-main-info {
    /*background-color: red;*/
    background-color: @color-page-foreground;
    width: 100%;
    height: 80px;
    position: relative;
}

#banner-avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: @color-page-foreground;
    position: absolute;
    top: -80px;
    left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner-avatar img {
    width: 154px;
}

#banner-fullname {
    position: absolute;
    top: -52px;
    left: 280px;
}

#banner-fullname * {
    color: @font-color-light;
    font-family: @font-family-primary-condensed;
    font-size: @font-size-largest-3x;
}

#banner-proffession {
    position: absolute;
    top: 0px;
    left: 280px;
    display: flex;
    flex-wrap: wrap;
}

#banner-proffession * {
    color: @color-primary-darker-2x;
    font-family: @font-family-secondary-condensed-extra-bold;
    font-size: @font-size-largest-3x;
    text-transform: uppercase;
    white-space: nowrap;
}

#banner-contact-info {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    background-color: @color-page-foreground;
    padding-right: 0px 20px;
}

#banner-contact-info * {
    font-size: @font-size-larger;
    word-break: break-word;
    color: @font-color-primary;
    text-decoration: none;
}

#banner-contact-info table tr td {
    padding: 3px 7px;
}

#banner-contact-info table tr td:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner-contact-info table tr td:last-child:hover {
    text-decoration: underline;
}