<section id="top-banner">
    <div id="banner-tag">
        <img src="assets/images/tag-trimmed.png">
    </div>
    
    <div id="banner-image">
        <!-- <div id="under-construction-banner"><span>Website still under construction!</span></div> -->
        <img src="assets/images/banner-image.jpg">
    </div>
    
    <div id="banner-main-info">
        <div id="banner-avatar">
            <img src="assets/images/me3.png">
        </div>
        
        <div id="banner-fullname">
            <span>Ioan Mihai GEORGEVICI</span>
        </div>
        
        <div id="banner-proffession">
            <span>WEB DEVELOPER | </span><span> GRAFFITI ARTIST</span>
        </div>
    </div>
    
    <div id="banner-contact-info">
        <table>
            <tbody>
                <tr>
                    <td><i class="fa fa-linkedin"></i></td>
                    <td><a href="https://www.linkedin.com/in/ioan-mihai-georgevici" target="_blank">https://www.linkedin.com/in/ioan-mihai-georgevici</a></td>
                </tr>
                <tr>
                    <td><i class="fa fa-github"></i></td>
                    <td><a href="https://github.com/ArteneR" target="_blank">https://github.com/ArteneR</a></td>
                </tr>
                <tr>
                    <td><i class="fa fa-facebook-f"></i></td>
                    <td><a href="https://www.facebook.com/Georgevici.Ioan" target="_blank">https://www.facebook.com/Georgevici.Ioan</a></td>
                </tr>
                <tr>
                    <td><i class="fa fa-envelope"></i></td>
                    <td><a href="mailto: georgevici.ioan@gmail.com">georgevici.ioan@gmail.com</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
