<section id="top-banner">
    <div id="banner-tag">
        <img src="assets/images/tag-trimmed.png">
    </div>
    
    <div id="banner-image">
        <img src="assets/images/banner-image-cropped.jpg">
    </div>
    
    <div id="banner-main-info">
        <div id="banner-avatar">
            <img src="assets/images/me3.png">
        </div>
    </div>
    
    <div id="banner-contact-info">
        <i class="fa fa-envelope"></i> <span>georgevici.ioan@gmail.com</span>
        <i class="fa fa-phone"></i> <span>0725 242 362</span>
    </div>
</section>
