@import "variables";

@media all and (max-width: @screen-size-mobile-max) {
    #top-banner {
        /*background-color: darkkhaki;*/
        background-color: @color-page-background;
        margin-bottom: 40px;
    }
    
    #banner-tag {
        padding: 20px 50px 20px 0px;
    }

    #banner-tag img {
        width: 100px;
    }

    #banner-image {
        margin-top: 50px;
    }

    #banner-image img {
        height: 170px;
    }
    
    #under-construction-banner {
        height: 30px;
        position: fixed;
        bottom: 0px;
        left: 0;
        right: 0;
        z-index: 999999;
    }
    
    #under-construction-banner span {
        padding: 0 5px;
    }

    #banner-main-info {
        
    }

    #banner-avatar {
        left: 20px;
        top: -220px;
        width: 120px;
        height: 120px;
    }

    #banner-avatar img {
        width: 116px;
    }
    
    #banner-fullname {
        top: -44px;
        left: 20px;
    }
    
    #banner-fullname * {
        font-size: @font-size-largest-2x;
    }
    
    #banner-proffession {
        left: 20px;
    }

    #banner-proffession * {
        font-size: @font-size-largest;
    }
    
    #banner-contact-info {
        justify-content: left;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}