<header>
    <div id="header-inner" (window:resize)="onResize($event)">
        <nav *ngIf="isNavigationVisible">
            <span id="nav-top-ornament"></span>
            <ul>
                <li (click)="navigateTo('top-banner')">
                    Home
                </li> 
                <li (click)="navigateTo('about-me')">
                    About me
                </li>
                <li (click)="navigateTo('my-skills')">
                    My Skills
                </li>
                <li (click)="navigateTo('my-works')">
                    My Works
                </li>
                <li (click)="navigateTo('education-and-career')">
                    Education & Career
                </li>
                <li (click)="navigateTo('contact')">
                    Contact
                </li>
            </ul>
        </nav>
        <div id="header-navigation-burger-btn" (click)="triggerNavigation()">
            <div id="nav-icon" [class.open]="isNavigationVisible">
                <span></span>
                <span></span>
                <span></span>
            </div>
       </div>
    </div>
</header>
