@import "variables";

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}

header * {
    color: @font-color-light;
}

header .change-language {
    display: flex;
    flex-direction: row;
    line-height: 65px;
    margin-right: 20px;
}

header .change-language * {
    color: @font-color-primary;
}

header .change-language button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

header .change-language button:hover {
    color: darken(@font-color-primary, 7%);
    font-weight: bold;
}

header .change-language button:disabled {
    font-weight: bold;
    color: @color-primary-lighter-2x;
}

#header-inner {
    background-color: @color-primary-normal;
    height: 50px;
    padding: 0 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-bottom-left-radius: 10px;
    position: relative;
}

#header-inner::before { 
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: -20px;
    width: 20px;
    height: 20px;
    border-top-right-radius: 10px;
    box-shadow: 10px 0 0 0 @color-primary-normal;
    content: "";
}

nav {
    color: @font-color-light;
    text-transform: uppercase;
    font-size: @font-size-normal;
    font-family: @font-family-primary-regular;
    z-index: 1000;
    user-select: none;
}

nav ul {
    
}

nav ul li {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

nav ul li:active,
nav ul li:focus,
nav ul li:hover {
    background-color: @color-primary-lighter;
}

#header-navigation-burger-btn {
    display: none;
}