@import "variables";

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}

header * {
    color: @font-color-light;
}

#header-inner {
    background-color: @color-primary-normal;
    height: 50px;
    padding: 0 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#header-corner-mask { 
    width: 0; 
    height: 0; 
    border-top: 50px solid @color-primary-normal; 
    border-left: 200px solid transparent;
}

nav {
    color: @font-color-light;
    text-transform: uppercase;
    font-size: @font-size-normal;
    font-family: @font-family-primary-regular;
    z-index: 1000;
}

nav ul {
    
}

nav ul li {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

nav ul li:hover {
    background-color: @color-primary-lighter;
}

#header-navigation-burger-btn {
    display: none;
}