<header>
    <div id="header-corner-mask"></div>
    <div id="header-inner" (window:resize)="onResize($event)">
        <nav *ngIf="isNavigationVisible">
            <span id="nav-top-ornament"></span>
            <span id="nav-top-ornament-corner-mask"></span>
            <ul>
                <li (click)="scroll('top-banner') && closeNavigation()">
                    Home
                </li> 
                <li (click)="scroll('about-me') && closeNavigation()">
                    About me
                </li>
                <li (click)="scroll('my-skills') && closeNavigation()">
                    My Skills
                </li>
                <li (click)="scroll('my-works') && closeNavigation()">
                    My Works
                </li>
                <li (click)="scroll('education-and-career') && closeNavigation()">
                    Education & Career
                </li>
                <li (click)="scroll('contact') && closeNavigation()">
                    Contact
                </li>
            </ul>
        </nav>
        <div id="header-navigation-burger-btn" (click)="triggerNavigation()">
            <div id="nav-icon" [class.open]="isNavigationVisible">
                <span></span>
                <span></span>
                <span></span>
            </div>
       </div>
    </div>
</header>
