<app-section-title title="Contact"></app-section-title>

<section id="contact">
    <div id="contact-photo-container">
        <div id="contact-photo-band">
            <div id="contact-photo-position">
                <div id="contact-photo">
                    <img src="assets/images/me3.png">
                </div>
            </div>
        </div>
    </div>
    
    <div id="contact-information">
        <div id="contact-address">
            <h2>Address</h2>
            <hr>
            <ul id="contact-address-details">
                <li><i class="fa fa-caret-right"></i> Timisoara, Romania</li>
            </ul>
            <div id="contact-address-map">
                <img src="assets/images/no image available.jpg">
            </div>
            <table id="contact-address-email-and-phone">
                <tr>
                    <td><i class="fa fa-envelope"></i></td>
                    <td>georgevici.ioan@gmail.com</td>
                </tr>
                <tr>
                    <td><i class="fa fa-phone"></i></td>
                    <td>0725 242 362</td>
                </tr>
            </table>
        </div>
        
        <form id="contact-get-in-touch" ng-submit="false">
            <label>Your name:</label>
            <input name="name">
            
            <label>Your email address:</label>
            <input name="email">
            
            <label>Your phone number (optional):</label>
            <input name="phone">
            
            <label>Your message:</label>
            <textarea name="message"></textarea>
            
            <button type="submit" class="art-button">Submit</button>
        </form>
    </div>
</section>
