<app-section-title title="Contact"></app-section-title>

<section id="contact">
    <div id="contact-photo-container">
        <div id="contact-photo-band">
            <div id="contact-photo-position">
                <div id="contact-photo">
                    <img src="assets/images/me3.png">
                </div>
            </div>
        </div>
    </div>
    
    <div id="contact-information">
        <h1>You need a website for your business or you want to colaborate with me on a project?</h1>
        <h2>Let's get in touch!</h2>

        <table>
            <tbody>
                <tr>
                    <td><i class="fa fa-location-arrow"></i></td>
                    <td><a href="https://www.google.com/maps/place/Timi%C8%99oara/@45.7410592,21.1815706,13z/data=!3m1!4b1!4m5!3m4!1s0x4745677dcb0fb5a7:0x537faf6473936749!8m2!3d45.7488716!4d21.2086793" target="_blank">Timisoara, Romania</a></td>
                </tr>
                <tr>
                    <td><i class="fa fa-linkedin"></i></td>
                    <td><a href="https://www.linkedin.com/in/ioan-mihai-georgevici" target="_blank">https://www.linkedin.com/in/ioan-mihai-georgevici</a></td>
                </tr>
                <tr>
                    <td><i class="fa fa-github"></i></td>
                    <td><a href="https://github.com/ArteneR" target="_blank">https://github.com/ArteneR</a></td>
                </tr>
                <tr>
                    <td><i class="fa fa-facebook-f"></i></td>
                    <td><a href="https://www.facebook.com/Georgevici.Ioan" target="_blank">https://www.facebook.com/Georgevici.Ioan</a></td>
                </tr>
                <tr>
                    <td><i class="fa fa-envelope"></i></td>
                    <td><a href="mailto: georgevici.ioan@gmail.com">georgevici.ioan@gmail.com</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
