@import "variables";

@media all and (max-width: @screen-size-mobile-max) {
    #contact-photo-band {
        height: 80px;
    }
    
    #contact-photo {
        top: -58px;
    }
    
    #contact-information {
        flex-direction: column;
    }

    #contact-information table * {
        font-size: @font-size-larger;
    }
}