<app-section-title title="My Skills"></app-section-title>

<section id="my-skills">
    <h1>Main Skills</h1>
    <div id="main-skills">
        <app-skill title="PHP" knowledge_perc="70" image="php-logo.png"></app-skill>
        <app-skill title="Javascript" knowledge_perc="65" image="js-logo2.png"></app-skill>
        <app-skill title="AngularJS" knowledge_perc="80" image="angularjs.logo.png"></app-skill>
        <app-skill title="Python" knowledge_perc="30" image="python-logo.png"></app-skill>
    </div>
    
    <h1>Other Skills</h1>
    <div id="other-skills">
        <app-skill-small title="NodeJS" knowledge_perc="50" image="nodejs-logo.png"></app-skill-small>
        <app-skill-small title="ReactNative" knowledge_perc="15" image="react-native-logo.png"></app-skill-small>
        <app-skill-small title="VueJS" knowledge_perc="15" image="vuejs-logo.png"></app-skill-small>
        <app-skill-small title="jQuery" knowledge_perc="60" image="jquery-logo.png"></app-skill-small>
        <app-skill-small title="Xcode" knowledge_perc="20" image="xcode-logo.png"></app-skill-small>
        <app-skill-small title="AndroidStudio" knowledge_perc="35" image="android-studio-logo.png"></app-skill-small>
        <app-skill-small title="HTML5" knowledge_perc="80" image="html-logo.png"></app-skill-small>
        <app-skill-small title="CSS3" knowledge_perc="80" image="css-logo.png"></app-skill-small>
        <app-skill-small title="Photoshop" knowledge_perc="15" image="photoshop-logo.png"></app-skill-small>
        <app-skill-small title="Illustrator" knowledge_perc="25" image="adobe-illustrator-logo.png"></app-skill-small>
        <app-skill-small title="Swift" knowledge_perc="10" image="swift-logo.png"></app-skill-small>
    </div>
    
    <h2>...and the list continues!</h2>
</section>
